spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    hikari:
      maximum-pool-size: 20
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate: update
    show-sql: false
    generate-ddl: true
    properties:
      hibernate:
        format_sql: true

feign:
  retry:
    period: 1000
    max-period: 10000
    max-attempts: 5

oauth:
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-url: ${GOOGLE_REDIRECT_URL}

auth:
  jwt:
    secret-key: ${JWT_SECRET}
    access-exp: ${JWT_ACCESS_EXP}
    refresh-exp: ${JWT_REFRESH_EXP}
